:root {
    --black-text: rgb(17 24 39 / 1);
    --white-text: rgb(255, 255, 255);
}

.link-flightradar24 {
    background-color: #0a0a0a;
}

.link-farside {
    background-color: #548;
}

.link-bibliogram {
    background-color: #d63f44;
}

.link-invidious {
    background-color: red;
}

.link-libreddit {
    background-color: #08a6f0;
    /* color: var(--black-text); */
}

.link-lingva {
    background-color: #00ab6c;
    /* color: var(--black-text); */
}

.link-nitter {
    background-color: #ff4500;
}

.link-proxitok {
    background-color: #548;
}

.link-imagecolorpicker {
    background-color: #d51007;
}

.link-convertio {
    background-color: #ff434d;
}

.link-archivedotorg {
    background-color: #0a0a0a;
}

.link-autodraw {
    background-color: #00ab6c;
}

.link-unscreen {
    background-color: #333;
}

.link-removebg {
    background-color: #333;
}

.link-virustotal {
    background-color: white;
    color: #394eff;
}

.link-justwatch {
    background-color: black;
    color: gold;
}